# Compiled Java class files
*.class

# Log files
*.log

# Package files
*.jar
*.war
*.ear

# Maven target directory
target/

# Gradle build directory and wrapper files
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# IntelliJ IDEA and Eclipse project files
*.iml
.idea/
*.classpath
*.project
*.settings/

# VS Code settings and workspace folders
.vscode/

# OS-specific files
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.swp
*.swo
